main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    

}

main h1{
    font-size: 200px;
}

main input{
    width: 600px;
    height: 100px;
    font-size: 30px;
    display: block;
}
main button{
margin-top:70px;
width: 200px;
height: 100px;
font-size: 20px;
background-color: aqua;
border-radius: 20%;
    
}
main div{
    margin-top: 100px;
    border: 2px solid;
    border-radius: 20%;
}